body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #FFFAFA; */
  background-color: #f8f3eb;
  background-image: url('../src/Assets/1234.jpg');
  opacity: 0.95;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

html {
  scroll-behavior: smooth;
}

.body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
