body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f3eb;
  transition: background-image 1s ease-in-out;
  position: relative; /* Ensure the body can have a pseudo-element */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body.background-visible {
  background-image: url('../src/Assets/10246986.webp');
  opacity: 0.95;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background stationary on scroll */
}

html {
  scroll-behavior: smooth;
}

.body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
